<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Escape the Labyrinth</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Submit your labyrinth</h1>
    <form action="#" th:action="@{/}" th:object="${labToEscape}" method="post">
        <textarea rows="8" cols="10" th:field="*{input}" ></textarea>
        <td th:if="${#fields.hasErrors('input')}" th:errors="*{input}">Not empty</td>
        <p>Start at:</p>
        <p>X: <input type="number" th:field="*{x}" /><td th:if="${#fields.hasErrors('x')}" th:errors="*{x}">Not null and min 1</td></p>
        <p>Y: <input type="number" th:field="*{y}" /><td th:if="${#fields.hasErrors('y')}" th:errors="*{y}">Not null and min 1</td></p>
        <p><input type="submit" value="Escape" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>